[Unit]
Description=ReFlex4ARM systemd service.

[Service]
Type=simple
WorkingDirectory=/home/ec2-user/reflex4arm
ExecStart=/bin/bash /home/ec2-user/reflex4arm/scripts/run_reflex_server.sh

[Install]
WantedBy=multi-user.target
